html, body {
	background: #eaeaea; /* Old browsers */
	background: -moz-linear-gradient(top,  #eaeaea 0%, #666666 13%, #474747 14%, #2c2c2c 29%, #000000 66%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(13%,#666666), color-stop(14%,#474747), color-stop(29%,#2c2c2c), color-stop(66%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #eaeaea 0%,#666666 13%,#474747 14%,#2c2c2c 29%,#000000 66%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #eaeaea 0%,#666666 13%,#474747 14%,#2c2c2c 29%,#000000 66%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #eaeaea 0%,#666666 13%,#474747 14%,#2c2c2c 29%,#000000 66%,#131313 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #eaeaea 0%,#666666 13%,#474747 14%,#2c2c2c 29%,#000000 66%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	
	
	
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

body {
    font: 100.01% "ErbosDraco1stOpenNBPRegular", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
    color: #333;
    padding: 0;
}

body * {
    line-height:1.22em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ErbosDraco1stOpenNBPRegular", Times, serif;
    color:#4088b8;
    clear: both;
}

h1 {
}

h2 {
    color: #c8c8c8;
    margin-top: -25px;
}

h3 {
}

h4 {
    color: #333;
    margin-bottom: -10px;
}

p {
   
}


ul, ol {
    margin-left: 0;
}

ul ul {
    margin-bottom: 20px;
}

#wrap {
    color: #64B2F0;
    margin: 20px 40px;
}

a {
    color: #4088b8;
}

table {
    font-size: inherit;
    border: 1px solid #c8c8c8;
}

th {
    background: #d8d8d8;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}

td {
    background: #f8f8f8;
    text-align: left;
    padding: 5px;
    vertical-align: top;
}

select, input, textarea {
    font: 80% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
}

pre, code, tt, dt {
    font: 100% monospace;
    margin: 20px 0;
}

pre, blockquote {
    padding: 15px;
    background-color: #f0f0f0;
    margin: 20px 0;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

td pre {
    font: 85% monospace;
    padding: 5px;
    margin: 5px 0;
}

/* If you want you can use font-face */
@font-face {
    font-family: 'lcdphoneRegular';
    src: url('fonts/lcdphone.eot');
    src: url('fonts/lcdphone.eot') format('embedded-opentype'),
         url('fonts/lcdphone.woff') format('woff'),
         url('fonts/lcdphone.ttf') format('truetype'),
         url('fonts/lcdphone.svg#lcdphoneRegular') format('svg');
}


.container {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}

.clock {
	
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
	top:160px;
	position:relative;
    color: #00aeef;
}

#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: center;
    text-shadow: 0 0 5px #00aeef;
	color:#fff;
}

#city {
font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
font-size: 66px;
text-align: center;
text-shadow: 0 0 5px #00aeef;
 color: #00aeef;
}

ul {
    width: 1000px;
	height:370px;
	
    margin: 0 auto;
    padding: 50px 0 0 0;
    list-style: none;
    text-align: center;
}

ul li {
    display: inline;
    font-size: 20em;
    text-align: center;
    font-family: 'lcdphoneRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
	
}

#point {
    position: relative;
  
    padding-left: 10px;
    padding-right: 10px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;
    text-shadow: 0 0 20px #00c6ff;
}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
        text-shadow: 0 0 20px #00c6ff;
    };
}

